.Cover {
   padding-bottom: 100px;
   background: url('../../images/pleasure_bg.jpg') no-repeat;
   background-size: 100% auto;
   color: #fff;
   font-weight: 900;
   h1 {
      margin: 100px 0;
   }
}

.About {
   position: relative;
   &:after {
      content: '';
      display: inline-block;
      width: 240px;
      height: 1px;
      background-color: #000;
      position: absolute;
      margin-top: 70px;
      left: 50%;
      transform: translateX(-50%);
   }
}

.CoffeeGirlWrapper {
   text-align: center;
}

.SubtitleLogo {
   text-align: center;
}

.TextWrapper {
   margin-top: 30px;
   text-align: center;
   font-size: 14px;
}

.Goods {
   padding: 130px 0 50px;
}

.ControlbarSearch, .ControlbarFilter {
   margin-bottom: 50px;
}